<!-- DataTables -->
    {script /plugins/datatables/jquery.dataTables.js /plugins/datatables/dataTables.bootstrap4.js}
    <script type='text/javascript'>
    $(function () {
        $('table.table').DataTable({
            "paging": true,
            "ordering": true,
        });
    });
    </script>

{css /plugins/datatables/jquery.dataTables.css /plugins/datatables/dataTables.bootstrap4.css}
    


